node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store


# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

package-lock.json
yarn.lock



  console.log("User Data:", user)
  if (user.length = []) {
      const company = await Companies.aggregate([
          { $match: { _id: ObjectId(company_id) } },
          {
            $lookup: {
              from: "users",
              localField: "_id",
              foreignField: "company_id",
              as: "users"
            }
          },
          { $unwind: "$users" },
          {
            $project: {
              company_name: 1,
              contact_persons: 1,
              "user_email": "$users.email",
            }
          }
      ])